$bg: #e6e6e6;
$headerBg:#ed1c24;
$headerActive:#d41f1f;
$menuHover: #242424;
$white: #fff;
$black: #000;
$buttonMenu: #474747;
$textFieldPlaceholder:#c9c9c9;
$textField:#666;
$overlay: #222222;
$separator: #c21c1c;
$categoriesBg: #474747;
