.link{
    color: $white;
    text-decoration: none;
}
@media screen and (min-width: 1024px){
    .container{
        width:1024px;
        margin: 0px auto;
    }
}
@media screen and (min-width: 1320px){
    .container{
        width:1320px;
        margin: 0px auto;
    }
}